# Dependencias
node_modules/
/.pnp
.pnp.js

# Next.js
.next/
/out/
/build

# Variables de entorno
.env
.env*.local

# Mac
.DS_Store

/src/generated/prisma

# IDE
.vscode/
.idea/

# Build artifacts
dist/
build/

# Python cache
__pycache__/
*.py[cod]

# TypeScript incremental cache
*.tsbuildinfo

# Virtual envs
.venv
